html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --white-text-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --secondary-button-bg: #188ce8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --card-set-gap: 30px;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: Roboto, Comfortaa, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Webstudio and Portfolio Header */

/* Logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.second-part-logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

/* Navigation */

.header-section .container {
  display: flex;
  align-items: center;
}

.header-section {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav .item + .item {
  margin-left: 50px;
}

.contacts-nav .link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/* Hero section */
.hero {
  background-color: var(--secondary-bg-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* Button */
.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--secondary-button-bg);
}

/* First section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 94;
}

.feature-list {
  display: flex;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.description-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 0;
}

/* Work section */

.work-list {
  display: flex;
}
.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.work-list .item:not(:last-child) {
  margin-right: 30px;
}

/* Team section */

.team-list {
  display: flex;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-section {
  background-color: var(--team-bg-color);
}

.team-list .item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list .full-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}

.team-list .profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 0;
}

/* Webstudio and Portfolio Footer */
.part-logo {
  color: var(--white-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer-section .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-section {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  color: var(--white-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 9px;
}

.contacts .link {
  color: var(--footer-contacts-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.mail {
  margin-bottom: 9px;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Portfolio main section */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.portfolio-content {
  padding-top: 100px;
  padding-bottom: 94px;
}
.button-filter {
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;

  display: inline-block;
  padding: 6px 22px;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.card-set .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.card-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;

  margin-bottom: 4px;
}

.portfolio-text {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 16px;

  margin-bottom: 0;
}

.portfolio-title:hover,
.portfolio-title:focus {
  color: var(--accent-color);
}

.portfolio-text:hover,
.portfolio-text:focus {
  color: var(--accent-color);
}
